/* 
#26353d medium gray
#182229 dark gray

svg user-message: <svg viewBox="0 0 8 13" height="13" width="8" preserveAspectRatio="xMidYMid meet" class="" version="1.1" x="0px" y="0px" enable-background="new 0 0 8 13"><title>tail-out</title><path opacity="0.13" d="M5.188,1H0v11.193l6.467-8.625 C7.526,2.156,6.958,1,5.188,1z"></path><path fill="currentColor" d="M5.188,0H0v11.193l6.467-8.625C7.526,1.156,6.958,0,5.188,0z"></path></svg>
svg cat-message: <svg viewBox="0 0 8 13" height="13" width="8" preserveAspectRatio="xMidYMid meet" class="" version="1.1" x="0px" y="0px" enable-background="new 0 0 8 13"><title>tail-in</title><path opacity="0.13" fill="#0000000" d="M1.533,3.568L8,12.193V1H2.812 C1.042,1,0.474,2.156,1.533,3.568z"></path><path fill="currentColor" d="M1.533,2.568L8,11.193V0L2.812,0C1.042,0,0.474,1.156,1.533,2.568z"></path></svg>
green: #176b5b
*/

body{
  margin: 0;
  padding: 0;
  background-color: black;
}

.opened-chat-settings{
  display: flex;
  height: 6vh;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border-left: 0.2px solid gray;
}

.cat-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cat-info > h2{
  padding-left: 10px;
}

h1,h2,h3,h4,p{
  color:white;
  padding:0px;
  margin:0px
}

.chat-settings>svg{
  padding-left: 10px;
  padding-right: 10px;
}

.opened-chat{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: black;
}
.opened-chat > img{
  object-fit: cover;
  width: 100%;
  height: 87.65vh;
}

.cats-chat-lists{
  height: 80vh;
  overflow-y:scroll;
  scrollbar-color: white #182229;
  scrollbar-width: thin;
}

.cats-chat-lists::-webkit-scrollbar {
  width: 12px;
}

/* TODO I COLORI DELLA SCROLLBOX FALLI GENERICI*/ 
.cats-chat-lists::-webkit-scrollbar-track {
  background: #21292d;
} 

.cats-chat-lists::-webkit-scrollbar-thumb {
  background-color: #182229;
  border-radius: 6px;
}

.bubble{
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  min-width: 40px;
  max-width: 400px;
  text-align: center;
  border: 1px solid gray;
  display: inline-block;
}

.user-bubble{
  background-color: #176b5b;
  border-radius: 10px 0px 10px 10px;
  display: flex;
  justify-content: flex-end;
}

.bubble-user-messages{
  position: relative;
}

.bubble-messages{
  padding: 20px;
}

.messages{
  position: absolute;
  top: 0%;
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
}

.bubble-container {
  display: flex; /* Imposta il contenitore su display flex */
}

.user-bubble-container{
  position: absolute;
  right: 100px;
}

.cat-bubble-container{
  position: absolute;
  left: 100px;
}

.cat-bubble{
  background-color: #26353d;
  border-radius: 0px 10px 10px 10px;
  display: flex;
}

.bubble-cat-messages{
  padding: 20px;
  position: relative;
}