.side-bar{
  width: 30%;
  background-color: green;
}

.opened-chat{
  width: 70%;
  align-self:flex-end;
  background-color: red;
}

.flex-container{
  display: flex;
}

.profile-pic{
  width: 40px;
  height: 40px;
}

.buttons-list{
  display: flex;
  justify-content: space-between;
  background-color: #26353d;
  padding: 10px;
}

.buttons-list>div{
  padding: 5px;
}

.buttons-list>div>button{
  
}

body{
  margin: 0;
  padding: 0;
}

.find-chat{
  position: relative;
  padding: 10px;
  width: 90%;
}

.find-chat-input{
  padding-left: 30px;
  background-color: #26353d;
  height: 30px;
  width: 81%;
  border-radius: 6px;
}

.search-img{
  position:absolute;
  left: 12px;
  padding-top:5px;
  padding-left: 2px;
}

.filters{
  display: flex;
  justify-content: space-between;
  background-color: #182229;
  padding-left: 5px;
  padding-right: 15px;
}

button{
  background-color: transparent;
  border: 0px;
}